
  html-table works! {{testVariable}}
  <caption>STUDENT DETAILS</caption>
  <br>
  <body>
      <table>
          <tr>
              <th>student id</th>
              <th>student name</th>
              <th>section</th>
              <th>average marks</th>
              <th>hostel</th>
          </tr>
          <br>
          <tr>
              <td>1000</td>
              <td>vignesh</td>
              <td>6-B</td>
              <td>73.65</td>
              <td>false</td>
          </tr>
          <br>
          <tr>
              <td>3268</td>
              <td>ramesh</td>
              <td>4-A</td>
              <td>82.5</td>
              <td>true</td>
          </tr>
          <br>
          <tr>
              <td>1254</td>
              <td>suresh</td>
              <td>5-C</td>
              <td>56.4</td>
              <td>true</td>        
          </tr>
      </table>
      </body>